{% extends "base.html" %}

{% block title %}忘记密码{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='js/findPassword.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="container text-center" style="display: flex;flex-direction: column; margin-top: 30px">
        <form action="" method="POST">
            <p>邮箱：<input type="email" aria-describedby="emailHelp" name="email" placeholder="例如：XXX@163.com" id="exampleInputEmail1"></p>
            <p>验证码：
                <input type="text"  name="captcha" id="captcha" placeholder="四位数字"><button  type="button" id="captcha-btn">获取验证码</button>
            </p>
            <p>新密码：<input type="password" name="newpassword" id="newpassword"></p>
            <p>确认密码：<input type="password" name="password_again" id="password_again"></p>
            <div class="text-warning text-center"><h5><strong>{{ message }}</strong></h5></div>
            <button type="submit">提交</button>
        </form>

    </div>

{% endblock %}